.containerExperiencias {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxBotoesExperiencias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.boxBotoesExperienciasBotao {
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
}

.spnBotaoExperiencia {
  text-align: center;
  border: 1px solid #424141;
  border-radius: 5px;
  background-color: #171717;
  display: flex;
  align-items: center;
}

.divBoxTextoExperiencias {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #424141;
  border-radius: 5px;
  background-color: #171717;
}

.btnAtivado {
  user-select: none;
  background-color: #ff003d;
  border-radius: 50px;
  border: 2px solid #424141;
}

.btnDesativado {
  background-color: #171717;
  cursor: pointer;
  border-radius: 50px;
  border: 2px solid #424141;
}

/******************************************************************************************
                                         WEB
******************************************************************************************/

@media screen and (min-width: 1024px) {
  .boxBotoesExperiencias {
    margin-right: 10px;
  }

  .boxBotoesExperienciasBotao {
    margin-right: 5px;
    font-size: 20px;
    cursor: pointer;
  }

  .spnBotaoExperiencia {
    width: 130px;
    font-size: 16px;
    height: 50px;
  }

  .divBoxTextoExperiencias {
    width: 750px;
    height: 400px;
    font-size: 20px;
  }

  .paragrafoTextoExperiencias {
    width: 650px;
  }

  .btnAtivado {
    width: 10px;
    height: 45px;
  }

  .btnDesativado {
    width: 10px;
    height: 45px;
  }
}

/******************************************************************************************
                                         TABLET
******************************************************************************************/

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .boxBotoesExperiencias {
    margin-right: 15px;
  }

  .spnBotaoExperiencia {
    width: 130px;
    font-size: 15px;
    height: 50px;
  }

  .divBoxTextoExperiencias {
    width: 550px;
    height: 400px;
    font-size: 20px;
  }

  .paragrafoTextoExperiencias {
    width: 450px;
  }

  .btnAtivado {
    width: 15px;
    height: 45px;
  }

  .btnDesativado {
    width: 15px;
    height: 45px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .containerExperiencias {
    flex-direction: column;
  }

  .boxBotoesExperiencias {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
  }

  .boxBotoesExperienciasBotao {
    gap: 5px;
  }

  .spnBotaoExperiencia {
    width: 100px;
    font-size: 10px;
    height: 40px;
  }

  .divBoxTextoExperiencias {
    width: 450px;
    height: 300px;
    font-size: 15px;
  }

  .paragrafoTextoExperiencias {
    width: 380px;
  }

  .btnAtivado {
    width: 10px;
    height: 35px;
  }

  .btnDesativado {
    width: 10px;
    height: 35px;
  }
}

/******************************************************************************************
                                         CELULAR
******************************************************************************************/

@media screen and (min-width: 365px) and (max-width: 479px) {
  .containerExperiencias {
    flex-direction: column;
  }

  .boxBotoesExperiencias {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
  }

  .boxBotoesExperienciasBotao {
    gap: 5px;
  }

  .spnBotaoExperiencia {
    width: 90px;
    font-size: 10px;
    height: 30px;
  }

  .divBoxTextoExperiencias {
    width: 350px;
    height: 250px;
    font-size: 12px;
  }

  .paragrafoTextoExperiencias {
    width: 290px;
  }

  .btnAtivado {
    width: 10px;
    height: 25px;
  }

  .btnDesativado {
    width: 10px;
    height: 25px;
  }
}

@media screen and (min-width: 280px) and (max-width: 364px) {
  .containerExperiencias {
    flex-direction: column;
  }

  .boxBotoesExperiencias {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
  }

  .boxBotoesExperienciasBotao {
    gap: 5px;
  }

  .spnBotaoExperiencia {
    width: 90px;
    font-size: 10px;
    height: 30px;
  }

  .divBoxTextoExperiencias {
    width: 300px;
    height: 220px;
    font-size: 11px;
  }

  .paragrafoTextoExperiencias {
    width: 250px;
  }

  .btnAtivado {
    width: 9px;
    height: 23px;
  }

  .btnDesativado {
    width: 9px;
    height: 23px;
  }
}
