/******************************************************************************************
                                         Global
******************************************************************************************/

body {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #141414;
  margin: 0;
  display: flex;
  font-weight: 600;
}

h2 {
  display: flex;
  justify-content: center;
  color: #ff003d;
  margin-top: 50px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #ff003d;
}

p{
  color: white;
}

/******************************************************************************************
                                         WEB
******************************************************************************************/

@media screen and (min-width: 1024px) {
  #section-index {
    position: relative;
    top: 55px;
  }

  .header-link:hover {
    cursor: pointer;
    color: white;
  }
}

/******************************************************************************************
                                         TABLET
******************************************************************************************/

@media screen and (min-width: 769px) and (max-width: 1023px) {
  h2 {
    font-size: 25px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  h2 {
    font-size: 20px;
  }
}

/******************************************************************************************
                                         CELULAR
******************************************************************************************/

@media screen and (min-width: 365px) and (max-width: 479px) {
  h2 {
    font-size: 15px;
  }
}

@media screen and (min-width: 280px) and (max-width: 364px) {
  h2 {
    font-size: 13px;
  }
}
