/******************************************************************************************
                                         Global
******************************************************************************************/

body {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #141414;
}

header {
  color: #ff003d;
}

.a-header:hover{
  cursor: pointer;
}

h2 {
  display: flex;
  justify-content: center;
  color: #ff003d;
}

/******************************************************************************************
                                         1920x1080
******************************************************************************************/

@media screen and (min-width: 1024px) {
  header {
    display: flex;
    font-size: 23px;
    align-items: center;
    justify-content: center;
    gap: 90px;
    padding: 30px 0;
  }

  .a-caractere-chave-resumo {
    color: #ff003d;
    font-size: 350px;
    font-weight: 250;
    font-family: "Inter", sans-serif;
  }

  .p-resumo {
    color: white;
    text-align: justify;
    font-size: 25px;
    width: 35%;
    margin: 25px;
  }

  .container-resumo{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #container-experiencias{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #box-botoes-experiencias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .box-botoes-experiencias{
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
    margin-right: 5px;
    font-size: 20px;
  }

  .box-botoes-experiencias:hover{
    cursor: pointer;
  }

  #spn-botao-experiencia{
    width: 150px;
  }

  .btn-empresa-experiencias{
    background-color: #FF003D;
    border-radius: 50px;
    border: 2px solid #424141;
    width: 10px;
    height: 45px;
    color: white;
    font-family: "JetBrains Mono", monospace;

  }

  #div-box-texto-experiencias{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 750px;
    height: 400px;
    border: 2px solid #424141;
    border-radius: 5px;
    background-color: #171717;
    color: white;
    font-size: 20px;
    text-align: justify;
  }

  #p-texto-experiencias{
    width: 650px;
  }
}
