/******************************************************************************************
                                         Global
******************************************************************************************/

body {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #141414;
}

header {
  color: #ff003d;
}

/******************************************************************************************
                                         1920x1080
******************************************************************************************/

@media screen and (min-width: 1024px) {
  header {
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    gap: 90px;
    padding: 30px 0;
  }
}
